body{
  margin: 0;
}
 a {
   color:powderblue;
   text-decoration: none;
 }
 h1{
    color:aquamarine;
    text-align: center;
    font-size: 45px;
    border-bottom:1px solid gray;
    margin: 0;
    padding: 20px;
  }
 h2 {
   color:aqua;
 }
 #grid ol{
  border-right: 1px solid gray;
  width: 90px;
  margin: 0;
  padding: 20px;
  padding-left: 33px;
  }
 #grid{
   display:grid;
   grid-template-columns: 150px 1fr;
 }
 
 #article{
  padding-left: 25px;
 }

  /* screen width <800px */
  @media(max-width:800px) {
   h1{
    border-bottom: none;
    }
   #grid {
    display :block;
   }
   #grid ol{
    border-right: none;
   }

 }
